{% extends 'base.html' %}
{% block content%}
    <div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3">
                <form action="" method="post">
                    {% csrf_token%}
                    <div class="form-group">
                        <label for="exampleInputEmail">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password1" id="examplePassword1" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Pasword</label>
                        <input type="password" class="form-control" name="password2" placeholder="confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock%}